@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

*{
    box-sizing: border-box;
    margin: 0;
    padding:0; 

}

body{
    background: linear-gradient(180deg, #111111 0%, rgba(63, 62, 62, 0.9) 100%);
    max-width: 1440px;
    margin:0 auto;
 
}

/* Body font */
.inter-font-normal {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/* shared styles */
.btn-primary{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 39px;
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 9px 22px;
    text-align: center;
    border: none;
    color:white;
}

.btn-secondary{
    background-color: transparent;
    border-radius: 39px;
    border: 1px solid rgba(253, 252, 252, 0.7);
    list-style: none;
    margin-left: 18px;
    font-weight: 500;
    font-size: 1rem;
    padding: 9px 22px;
    text-align: center;
    color:white;
}
.btn-secondary:hover{
    background-color:  rgba(230, 83, 60, 1);
    border-radius: 39px;
    border: none;
    list-style: none;
    margin-left: 18px;
    font-weight: 500;
    font-size: 1rem;
    padding: 9px 22px;
    text-align: center;
    color:white;
}

/* header styles */
.header{
    position: relative;
    margin: 0 auto;
    height: 650px;  
    max-width: 1060px;  
}


/* nav styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.nav-title{
    color: hsla(8, 77%, 57%, 1);
    font-weight: 800;
    font-style: italic;
    font-size: 2rem;

}
.nav-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(130, 126, 126, 0.1);
    list-style: none;
    gap: 15px;
    border-radius: 39px;
}
.nav-container li{
    list-style: none;
}
.nav-btn{
    border-radius: 39px;
    list-style: none;
    margin-left: 18px;
    font-weight: 500;
    font-size: 1rem;
    padding: 7px 14px;
    text-align: center;

}
.nav-btn a{
    text-decoration: none;
    color: white;
}

.nav-btn:hover {
    padding: 7px 14px;
    border: 1px solid rgba(253, 252, 252, 0.3);
    border-radius: 39px;
    background-color: rgba(230, 83, 60, 1);
    font-weight: 500;

}
.menubar{
    display: none;
}
.menubar img{
    width: 50%;
}
/* 
Banner styles begins  */

.banner-container{
    margin-top: 30px;
    display: flex;
    flex-direction: flex-end;
    justify-content: space-between;
}
.banner-content{
    width: 50%;
    margin-top: 60px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 900;
    color:white;
    line-height: 65px;
}
.banner-title-span{
    font-family: 'Miama', sans-serif;
    font-style: italic;                                          
}
.banner-description{
    margin: 20px 0;
    color:rgb(152, 150, 145);
}


.banner-img img{
    width: 100%;
    height:auto
}


/* change Your Habit styles */

.habit-change-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* Main styles here  */
main{
    max-width: 1440px ;
    background: linear-gradient(180deg, #111111 0%, rgba(19, 19, 19, .9) 100%);
    margin: 0 auto;
}

main > section{
    margin: 0 auto;
    height: 570px;  
    max-width: 1060px;
}

section{
    border: 2px solid red;
}

/* flower section styles here  */




/* Responsive media  */

@media screen and (max-width:576px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        padding: 0 9px;
    }
    .navbar ul{   
        display: none;
    } 
    .menubar{
        display:initial;
        color: white;
    }
    .menubar p{
        display:initial;
        color: white;
    }
    .header-box-info2{
        top:200px;
        left:350px;
    }
    
}